@model IEnumerable<DoramasModel>
@{
    ViewData["title"] = "Doramas";
}

<div class="container">

    <div class="d-flex justify-content-between align-items-center mb-5">
        <h1>Minha lista de Doramas</h1>

        <div>
            <a class="btn btn-success mx-2" asp-controller="Doramas" asp-action="Create"><i class="bi bi-file-earmark-plus mx-2"></i>Cadastrar novo Dorama</a>
        </div>
    </div>


    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success text-dark" role="alert">
            @TempData["MensagemSucesso"]
        </div>
    }

    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger text-dark" role="alert">
            @TempData["MensagemErro"]
        </div>
    }

    <table id="Doramas" class="table table-dark table-hover mt-5">
        <br/>
        <thead>
            <tr>
                <th scope="col">Nacionalidade</th>
                <th scope="col">Nome</th>
                <th scope="col">Status</th>
                <th scope="col">Quantidade de Episódios</th>
                <th scope="col">Data de Início</th>
                <th scope="col">Data de Finalização</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @if (Model != null)
            {
                @foreach (var dorama in Model)
                {
                    <tr>
                        <th scope="row">@dorama.Nacionalidade</th>
                        <td>@dorama.Nome</td>
                        <td>@dorama.Status</td>
                        <td>@dorama.QtdEpisodios</td>
                        <td>@dorama.DataInicio</td>
                        <td>@dorama.DataFim</td>
                        <td>
                            <a class="btn btn-warning mx-2" asp-action="Edit" asp-route-id="@dorama.Id">Editar</a>
                            <a class="btn btn-danger mx-2" asp-action="Delete" asp-route-id="@dorama.Id">Excluir</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

