@model SeriesModel[]

@{
    ViewData["Title"] = "Series";
}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<div>
    <h1 class="title-line">Legendados</h1>
</div>
<div class="doramas">
    @foreach (var serie in Model)
    {
        <div class="title-line">
            <a href="@serie.Link">
                <img src="@serie.Image" alt="@serie.Title" />
            </a>
            <div class="details">
                <p style="font-size:16px">@(serie.Title.Length > 20 ? serie.Title.Substring(0, 20) + "..." : serie.Title)</p>
                <p>@serie.Year</p>
            </div>
        </div>
    }
</div>


<style>
    .title-line {
        position: center;
        display: inline-block;
        color: white;
        text-align: center;
    }

    .doramas {
        display: flex;
        flex-wrap: wrap;
        gap: 10px; /* Reduzido o espaçamento */
    }

    .dorama {
        max-width: 200px;
        text-align: center;
    }

        .dorama img {
            width: 100%;
            height: auto;
            border-radius: 5px;
        }

        .dorama .details {
            margin-top: 5px;
        }

            .dorama .details p {
                margin: 2px; /* Reduzido o espaçamento entre as linhas */
            }
</style>
