@model SeriesModel[]

@{
    ViewData["Title"] = "Series";
}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<div>
    <h1 class="title-line">Legendados</h1>
</div>

@{
    ViewData["Title"] = "Series";
    int pageSize = 20; // Número de séries por página
    int pageNumber = 1; // Página atual (pode ser obtida dinamicamente)
    var seriesToDisplay = Model.Skip((pageNumber - 1) * pageSize).Take(pageSize);
}

<div class="doramas">
    @foreach (var serie in seriesToDisplay)
    {
        <div class="title-line">
            <a href="@serie.Link">
                <img src="@serie.Image" alt="@serie.Title" />
            </a>
            <div class="details">
                <p style="font-size:16px">@(serie.Title.Length > 20 ? serie.Title.Substring(0, 20) + "..." : serie.Title)</p>
                <p>@serie.Year</p>
            </div>
        </div>
    }
</div>

<div class="pagination">
    @if (pageNumber > 1)
    {
        <a href="?page=@(pageNumber - 1)" class="arrow">&lt;</a>
    }

    @for (int i = 1; i <= Math.Ceiling((double)Model.Length / pageSize); i++)
    {
        <a href="?page=@i" class="@(i == pageNumber ? "active" : "")">@i</a>
    }

    @if (pageNumber < Math.Ceiling((double)Model.Length / pageSize))
    {
        <a href="?page=@(pageNumber + 1)" class="arrow">&gt;</a>
    }
</div>


<style>
    .title-line {
        position: center;
        display: inline-block;
        color: white;
        text-align: center;
    }

    .arrow {
        cursor: pointer;
    }

    .doramas {
        display: flex;
        flex-wrap: wrap;
        gap: 10px; /* Reduzido o espaçamento */
    }

    .dorama {
        max-width: 200px;
        text-align: center;
    }

        .dorama img {
            width: 100%;
            height: auto;
            border-radius: 5px;
        }

        .dorama .details {
            margin-top: 5px;
        }

            .dorama .details p {
                margin: 2px; /* Reduzido o espaçamento entre as linhas */
            }
</style>
